<!DOCTYPE html>
<html>
 <head>
 <title>게시판</title>
 <link rel='stylesheet' href='/stylesheets/liststyle.css' />
 </head>
 <body>
   <script type="text/javascript">
   /* Demo purposes only */
$(".hover").mouseleave(
function () {
  $(this).removeClass("hover");
}
);
   </script>
   <% include index %>
   <h1><center>게임 목록</center></h1>
   <div class="left-box">
     <figure class="snip1361" >
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample45.jpg" alt="sample45" align="left">
       <figcaption>
         <h3>리그오브레전드</h3>
         <p>Weekends don't count unless you spend them doing something completely pointless.</p>
       </figcaption>
       <a href="game1.html"></a>
     </figure>
   </div>

   <div class="center-box">
     <figure class="snip1361"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample77.jpg" alt="sample77" align="center">
       <figcaption>
         <h3>오버워치</h3>
         <p>I'm killing time while I wait for life to shower me with meaning and happiness. -</p>
       </figcaption>
       <a href="#"></a>
     </figure>
   </div>

   <div class="right-box">
     <figure class="snip1361"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample99.jpg" alt="sample99" />
       <figcaption>
         <h3>하스스톤</h3>
         <p>The only skills I have the patience to learn are those that have no real application in life. </p>
       </figcaption>
       <a href="#"></a>
     </figure>
   </div>


  </body>
</html>
