<% include index %>

<style>
    h1.back{
        text-decoration-color: black
    }
    h2.back{
        text-decoration-color: black
    }
    a.back{
        color: black
    }
</style>

<br><br><br><br><br><br><br><br><br>
<center><h1 class="back">로그인 실패</h1><br>
    <h2 class="back"><span style="color:#92B3B7"><% if(logerr==0){ %>이메일을 확인해주세요<% }else{ %>비밀번호를 확인해주세요<% } %></span></h2>
    <br>
    <a class="back" href="http://localhost:3000/login">돌아가기</a></center>

