<% include index %>

<style>
    h1.back{
        text-decoration-color: black
    }
    h2.back{
        text-decoration-color: black
    }
    a.back{
        color: black
    }
</style>

<br><br><br><br><br><br><br><br><br>
<h1 class="back">아마도 이미 있는 이메일입니다</h1>
<h2 class="back">다른 이메일을 사용해주세요</h2>
<br>
<a class="back" href="http://localhost:3000/login">돌아가기</a>
